# Código de inicialización
Este código permite inicializar las bibliotecas para usar SQLite en la máquina virtual de Google Colab. El código además elimina cualquier dato almacenado anteriormente en el archvio `ejemplos.db`. Es recomendable volver a correr el código cada vez que se comience con la resolución de un nuevo ejercicio.

In [1]:
!pip install pymysql
%load_ext sql
!rm -rf ejemplos.db
%sql sqlite:///ejemplos.db

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

# SIMULACRO DE PARCIAL

## Venta de pasajes aéreos ✈️

El esquema de la base de datos debe incluir las siguientes dos tablas con sus respectivos campos:

1. **Vuelos**
   - `VueloID` (INTEGER, PRIMARY KEY, AUTOINCREMENT)
   - `Aerolinea` (TEXT, NOT NULL)
   - `Destino` (TEXT, NOT NULL)
   - `Precio` (REAL, NOT NULL)

2. **Reservas**
   - `ReservaID` (INTEGER, PRIMARY KEY, AUTOINCREMENT)
   - `VueloID` (INTEGER, FOREIGN KEY → Vuelos.VueloID)
   - `Pasajero` (TEXT, NOT NULL)
   - `Estado` (TEXT, NOT NULL) *(Valores permitidos: 'Confirmada', 'Cancelada', 'Pendiente')*

#### 3.2. **Reglas y Restricciones**

- **Integridad Referencial:** `VueloID` en la tabla `Reservas` debe corresponder a un `VueloID` existente en la tabla `Vuelos`.
- **Estados de Reservas:** Limitar los valores del campo `Estado` a 'Confirmada', 'Cancelada' y 'Pendiente'.
- **Datos Validados:** Asegurar que los campos obligatorios no queden vacíos y que los formatos de datos sean correctos.

In [2]:
%%sql
-- Escribe aquí el código DDL para crear las tablas Vueos y Reservas
-- Creación de la tabla Vuelos
CREATE TABLE Vuelos (
    VueloID INTEGER PRIMARY KEY AUTOINCREMENT,
    Aerolinea TEXT NOT NULL,
    Destino TEXT NOT NULL,
    Precio REAL NOT NULL
);

-- Creación de la tabla Reservas
CREATE TABLE Reservas (
    ReservaID INTEGER PRIMARY KEY AUTOINCREMENT,
    VueloID INTEGER NOT NULL,
    Pasajero TEXT NOT NULL,
    Estado TEXT NOT NULL CHECK (Estado IN ('Confirmada', 'Cancelada', 'Pendiente')),
    FOREIGN KEY (VueloID) REFERENCES Vuelos (VueloID)
);

 * sqlite:///ejemplos.db
Done.
Done.

[]

**Rellenado de la tabla Ventas**

In [3]:
# Población de la tabla Ventas
# Insertar datos en la tabla Ventas
%%sql


INSERT INTO Vuelos (Aerolinea, Destino, Precio) VALUES
('Aerolínea A', 'Ciudad X', 150.0),
('Aerolínea B', 'Ciudad Y', 200.0),
('Aerolínea A', 'Ciudad Z', 180.0),
('Aerolínea C', 'Ciudad X', 220.0),
('Aerolínea B', 'Ciudad W', 170.0),
('Aerolínea D', 'Ciudad Y', 160.0),
('Aerolínea E', 'Ciudad Z', 190.0),
('Aerolínea C', 'Ciudad W', 210.0),
('Aerolínea D', 'Ciudad X', 175.0),
('Aerolínea E', 'Ciudad Y', 205.0),
('Aerolínea A', 'Ciudad W', 165.0),
('Aerolínea B', 'Ciudad X', 185.0),
('Aerolínea C', 'Ciudad Y', 195.0),
('Aerolínea D', 'Ciudad Z', 225.0),
('Aerolínea E', 'Ciudad W', 230.0);

INSERT INTO Reservas (VueloID, Pasajero, Estado) VALUES
-- Pasajeros con múltiples reservas a diferentes destinos
(1, 'Juan Pérez', 'Confirmada'),
(2, 'María Gómez', 'Pendiente'),
(1, 'Juan Pérez', 'Confirmada'),
(3, 'Ana Martínez', 'Confirmada'),
(5, 'Ana Martínez', 'Confirmada'),
(4, 'Elena Sánchez', 'Pendiente'),
(5, 'Pedro García', 'Confirmada'),
(3, 'Lucía Fernández', 'Confirmada'),
(4, 'Miguel Díaz', 'Cancelada'),
(5, 'Sofía Ramírez', 'Confirmada'),
(6, 'Diego Torres', 'Confirmada'),
(7, 'Laura Morales', 'Pendiente'),
(8, 'Andrés Castillo', 'Confirmada'),
(6, 'Paula Reyes', 'Confirmada'),
(9, 'Fernando Blanco', 'Cancelada'),
(10, 'Isabel Cruz', 'Confirmada'),
(11, 'Ricardo Vargas', 'Confirmada'),
(12, 'Daniela Soto', 'Pendiente'),
(13, 'Gabriel Rojas', 'Confirmada'),
(14, 'Valentina Ruiz', 'Confirmada'),
(15, 'Sergio Herrera', 'Cancelada'),
(16, 'Patricia Molina', 'Confirmada'),
(17, 'Patricia Molina', 'Confirmada'),
(18, 'Jorge Vargas', 'Confirmada'),
(19, 'Mónica Bravo', 'Pendiente'),
(20, 'Fernando Paredes', 'Confirmada'),
(21, 'Natalia González', 'Confirmada');

 * sqlite:///ejemplos.db
15 rows affected.
27 rows affected.

[]

**Consignas del ejercicio:**

1. **Obtener el Número de Reservas Confirmadas por Aerolínea:**
   - **Descripción:** Contar cuántas reservas están confirmadas para cada aerolínea.
   - **Consulta:**

In [4]:
%%sql
SELECT V.Aerolinea, COUNT(R.ReservaID) AS Reservas_Confirmadas
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
WHERE R.Estado = 'Confirmada'
GROUP BY V.Aerolinea;

 * sqlite:///ejemplos.db
Done.

[('Aerolínea A', 5),
 ('Aerolínea B', 3),
 ('Aerolínea C', 2),
 ('Aerolínea D', 3),
 ('Aerolínea E', 1)]

2. **Listar las Aerolíneas con Más de 2 Reservas Confirmadas:**
   - **Descripción:** Identificar las aerolíneas que tienen más de dos reservas confirmadas. El resultado debe mostrarse en orden descendente según la cantidad de reservas.
   - **Consulta:**

In [5]:
%%sql
SELECT V.Aerolinea, COUNT(R.ReservaID) AS Reservas_Confirmadas
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
WHERE R.Estado = 'Confirmada'
GROUP BY V.Aerolinea
HAVING COUNT(R.ReservaID) > 2
ORDER BY Reservas_Confirmadas DESC;

 * sqlite:///ejemplos.db
Done.

[('Aerolínea A', 5), ('Aerolínea D', 3), ('Aerolínea B', 3)]

3. **Calcular el Ingreso Total por Aerolínea a partir de Reservas Confirmadas:**
   - **Descripción:** Sumar los precios de los vuelos que tienen reservas confirmadas para cada aerolínea.
   - **Consulta:**

In [6]:
%%sql
SELECT V.Aerolinea, SUM(V.Precio) AS Ingreso_Total
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
WHERE R.Estado = 'Confirmada'
GROUP BY V.Aerolinea;

 * sqlite:///ejemplos.db
Done.

[('Aerolínea A', 825.0),
 ('Aerolínea B', 510.0),
 ('Aerolínea C', 405.0),
 ('Aerolínea D', 545.0),
 ('Aerolínea E', 205.0)]

4. **Encontrar Destinos con Más de 1 Reserva Confirmada:**
   - **Descripción:** Identificar los destinos que tienen más de una reserva confirmada.
   - **Consulta:**

In [7]:
%%sql
SELECT V.Destino, COUNT(R.ReservaID) AS Reservas_Confirmadas
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
WHERE R.Estado = 'Confirmada'
GROUP BY V.Destino
HAVING COUNT(R.ReservaID) > 1;

 * sqlite:///ejemplos.db
Done.

[('Ciudad W', 5), ('Ciudad X', 2), ('Ciudad Y', 4), ('Ciudad Z', 3)]

5. **Obtener la Aerolínea con el Mayor Ingreso Total**

- **Descripción:** Identificar qué aerolínea ha generado el mayor ingreso total a partir de reservas confirmadas.
- **Consulta:**

In [8]:
%%sql
SELECT V.Aerolinea, SUM(V.Precio) AS Ingreso_Total
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
WHERE R.Estado = 'Confirmada'
GROUP BY V.Aerolinea
ORDER BY Ingreso_Total DESC
LIMIT 1;

 * sqlite:///ejemplos.db
Done.

[('Aerolínea A', 825.0)]

6. **Listar los Pasajeros con Reservas en Más de un Destino**

- **Descripción:** Identificar a los pasajeros que han reservado vuelos a más de un destino diferente.
- **Consulta:**

In [9]:
%%sql
SELECT R.Pasajero, COUNT(DISTINCT V.Destino) AS Destinos_Reservados
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
GROUP BY R.Pasajero
HAVING COUNT(DISTINCT V.Destino) > 1;

 * sqlite:///ejemplos.db
Done.

[('Ana Martínez', 2)]

7. **Determinar el Destino Más Popular**

- **Descripción:** Encontrar el destino con el mayor número de reservas confirmadas.
- **Consulta:**

In [10]:
%%sql
SELECT V.Destino, COUNT(R.ReservaID) AS Total_Reservas
FROM Reservas R
JOIN Vuelos V ON R.VueloID = V.VueloID
WHERE R.Estado = 'Confirmada'
GROUP BY V.Destino
ORDER BY Total_Reservas DESC
LIMIT 1;

 * sqlite:///ejemplos.db
Done.

[('Ciudad W', 5)]

8. **Calcular el Promedio de Precio por Aerolínea**

- **Descripción:** Calcular el precio promedio de los vuelos para cada aerolínea.
- **Consulta:**

In [11]:
%%sql
SELECT V.Aerolinea, AVG(V.Precio) AS Precio_Promedio
FROM Vuelos V
GROUP BY V.Aerolinea;

 * sqlite:///ejemplos.db
Done.

[('Aerolínea A', 165.0),
 ('Aerolínea B', 185.0),
 ('Aerolínea C', 208.33333333333334),
 ('Aerolínea D', 186.66666666666666),
 ('Aerolínea E', 208.33333333333334)]

Al finalizar el trabajo práctico, deberás entregar:

1. **Jupyter Notebook** completo con todas las celdas ejecutadas y resultados visibles. Deberá descargar el archivo ```.ipynb``` en su computadora y subirlo a la tarea del aula virtual.
2. **Diagrama Esquena de Tablas**. Debe descargar una imagen del diagrama u subirla a la tarea-

### **Criterios de Evaluación**

El trabajo práctico será evaluado en función de los siguientes aspectos:

- **Diseño del Esquema de la Base de Datos (30%)**
  - Correcta definición de las dos tablas.
  - Adecuada implementación de claves primarias y foráneas.
  - Implementación de restricciones y reglas de integridad.


- **Consultas SQL (70%)**
  - Correcta ejecución de las consultas solicitadas utilizando `JOIN`, `GROUP BY` y `HAVING`.
  - Capacidad para extraer información relevante del sistema.